<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @view_module.title(@view_template, assigns) %></title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body class="bg-grey-lighter">

  <%= render @view_module, @view_template, assigns %>

  <%= if get_flash(@conn, :error) do %>
    <div class="fixed pin-t pin-l w-full text-center">
      <span class="absolute text-sm text-red-darker bg-red-lightest border-t-4 border-red-darker rounded-b-sm px-4 py-6 shadow-sm shadow" style="transform: translate(-50%, 0);" role="alert">
        <%= get_flash(@conn, :error) %>
      </span>
    </div>
  <% end %>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

</body>
</html>
